@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
			 url("../fonts/gilroyextrabold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff2") format("woff2"),
			 url("../fonts/gilroylight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensans.woff2") format("woff2"),
			 url("../fonts/opensans.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensanslight.woff2") format("woff2"),
			 url("../fonts/opensanslight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: #464646;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

/* buttons */

.btn {
	position: relative;
	z-index: 1;
	display: inline-block;
	vertical-align: top;
	padding-top: 9px;
	padding-bottom: 10px;
	padding-left: 5px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.btn::before {
	content: "";
	position: absolute;
	top: 39%;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 8px;
	background-color: #f0c52e;
	transition: all 0.2s ease-in-out;
}

.btn:hover::before,
.btn:focus::before,
.btn:active::before {
	top: 0;
	height: 100%;
}

.btn:active {
	color: rgba(0, 0, 0, 0.3);
}

.slider-btn {
	min-width: 220px;
	max-width: 360px;
}

.services-btn {
	min-width: 160px;
}

.services-btn:active,
.services-btn.current {
	color: #f7e184;
	cursor: default;
}

.services-btn:active::before,
.services-btn.current::before {
	top: 0;
	height: 100%;
	background-color: #000000;
}

.about-us-btn,
.write-us-btn {
	min-width: 260px;
}

.send-btn {
	min-width: 200px;
}

a.arrow {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
}

.arrow::before {
	content: "";
	display: inline-block;
	border: 11px solid #d3d2d2;
	border-right-width: 5px;
	border-left-width: 5px;
	border-right-color: transparent;
	border-left-color: transparent;
}

.arrow:hover::before,
.arrow:focus::before {
	border-color: #a7a5a6;
	border-right-color: transparent;
	border-left-color: transparent;
}

.arrow:active::before,
.arrow.current::before {
	border-color: #231f20;
	border-right-color: transparent;
	border-left-color: transparent;
}

.arrow-up::before {
	border-top-width: 0;
}

.arrow-down::before {
	border-bottom-width: 0;
}

.modal-close {
	position: absolute;
	top: 22px;
	right: 22px;
  width: 55px;
  height: 55px;
  font-size: 0;
  background-color: #f7e184;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;
  outline: none;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: #ffffff;
}

.modal-close::before {
  left: 12px;
  transform: rotate(45deg);
}

.modal-close::after {
  right: 12px;
  transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #f0c52e;
}

.modal-close:active {
  background-color: #faedc0;
}

/* header */

.main-header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	min-height: 188px;
	margin-top: 40px;
	padding-top: 35px;
	padding-left: 60px;
	padding-right: 60px;
	background-color: #f7e296;
}

.logo {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 48px;
	line-height: 1.2;
	letter-spacing: 0.01em;
	font-weight: 800;
	color: #000000;
	text-transform: uppercase;
}

.header-logo {
	position: absolute;
	top: -29px;
	left: 58px;
}

a[href="index.html"].logo:hover,
a[href="index.html"].logo:focus {
	opacity: 0.6;
}

a[href="index.html"].logo:active {
	opacity: 0.3;
}

.search-form {
	margin-bottom: 31px;
}

.search-form input[type="search"] {
	min-height: 50px;
	width: 355px;
	padding-left: 37px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.3);
	border: 2px solid transparent;
	background-color: transparent;
	outline: none;
}

.search-form input[type="search"]:hover::-webkit-input-placeholder  {
	color: rgba(0, 0, 0, 0.6);
}

.search-form input[type="search"]:hover::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.search-form input[type="search"]:hover:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.search-form input[type="search"]:hover::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.search-form input[type="search"]:focus {
	color: rgba(0, 0, 0, 1);
	border-bottom: 2px solid #000000;
}

.search-form input[type="submit"] {
	display: inline-block;
	min-width: 85px;
	max-width: 150px;
	min-height: 49px;
	margin-left: -5px;
	color: #000000;
	background-color: transparent;
	border: 2px solid #000000;
	cursor: pointer;
	outline: none;
	opacity: 0;
}

.search-form input[type="search"]:focus + input[type="submit"] {
	opacity: 1;
}


.search-form input[type="submit"]:hover,
.search-form input[type="submit"]:focus {
	color: #ffffff;
	background-color: #000000;
}

.search-form input[type="submit"]:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #000000;
}

.user-nav,
.site-nav,
.catalog-dropdown {
	padding: 0;
	margin: 0;
	list-style: none;
}

.user-nav a,
.site-nav a {
	color: #000000;
}

.user-nav a:hover,
.user-nav a:focus,
.site-nav a:hover,
.site-nav a:focus {
	opacity: 0.6;
}

.user-nav a:active,
.site-nav a:active {
	opacity: 0.3;
}

.user-nav {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	font-weight: 300;
}

.header-user-nav {
	display: flex;
	width: 500px;
	padding-top: 7px;
}

.header-user-nav li:first-child {
	margin-right: auto;
}

.header-user-nav li:last-child {
	margin-left: 30px;
}

.header-user-nav .exit {
	opacity: 0.3;
}

.main-nav {
	flex-grow: 1;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: 0.2em;
	font-weight: 800;
	color: rgba(0, 0, 0, 1);
	text-transform: uppercase;
}

.site-nav {
	display: flex;
	/*justify-content: space-between;*/
}

.site-nav > li {
	position: relative;
}

.site-nav > li:first-child {
	margin-right: auto;
}

.site-nav > li:nth-child(2) {
	margin-right: 34px;
}

.site-nav > li:last-child {
	margin-left: 109px;
	margin-right: -4px;
}

.catalog-dropdown {
	position: absolute;
	left: -60px;
	z-index: 1;
	visibility: hidden;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 1160px;
	padding: 0 60px;
	padding-top: 38px;
	min-height: 183px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	font-weight: 300;
	text-transform: none;
	background-color: #f7e296;
}

.catalog-dropdown li {
	margin-right: 40px;
}

.site-nav > li:hover .catalog-dropdown {
	visibility: visible;
}

/* slider */

.slider {
	position: relative;
	margin-bottom: 96px;
}

.slider input[type="radio"] {
	display: none;
}

.slider-controls {
	position: absolute;
	right: 82px;
	bottom: 138px;
	font-size: 0;
}

.slider-controls label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 21px;
	width: 12px;
	height: 12px;
	background-color: #ffffff;
	border: 1px solid #000000;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label:last-child {
	margin-right: 0;
}

#slider-1:checked ~ .slider-controls label[for="slider-1"]::before,
#slider-2:checked ~ .slider-controls label[for="slider-2"]::before,
#slider-3:checked ~ .slider-controls label[for="slider-3"]::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6px;
	height: 6px;
	border: 1px solid #000000;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.slider-item {
	display: flex;
	justify-content: space-between;
	position: relative;
	padding-right: 50px;
}

.slider-item::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 129px;
	z-index: -1;
	background-color: #f7e296;
}

.slider-one .product-photo {
	padding-left: 90px;
}

.slider-two .product-photo {
	padding-left: 116px;
}

.slider-three .product-photo {
	padding-top: 62px;
	padding-left: 31px;
}

.slider-descr {
	width: 510px;
	padding-top: 80px;
}

.slider-descr::before {
	content: "";
	position: absolute;
	top: 37px;
	left: 600px;
	width: 100px;
	height: 7px;
	background-color: #ffffff;
}

.slider-descr .slide-number {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	z-index: -1;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 179px;
	line-height: 179px;
	letter-spacing: 0.01em;
	color: #ffffff;
}

.slider-descr .section-title {
	margin: 0;
	margin-top: -1px;
	margin-bottom: 30px;
}

.slider-descr p {
	margin: 0;
}

.slider-descr p:last-of-type {
	margin-bottom: 44px;
}

.section-title {
	margin: 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 1.2;
	letter-spacing: 0.01em;
	color: #000000;
}

.slider-descr .slider-btn {
	margin-bottom: 49px;
}

.product-settings {
	width: 460px;
}

.product-settings td {
	width: 160px;
}

.product-settings-value {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: 0.01em;
	color: #000000;
}

.product-settings-param {
	font-size: 13px;
	line-height: 20px;
}

/* product-category*/

.product-category {
	margin-bottom: 145px;
}

.category-list {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.category-item {
	position: relative;
	width: 160px;
	margin-right: 40px;
	margin-bottom: 40px;
}

.category-item:nth-child(6n) {
	margin-right: 0;
}

.category-link {
	display: block;
	width: 160px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: 0.01em;
	text-align: left;
	color: #000000;
}

.category-link::before {
	content: "";
	display: inline-block;
	width: 160px;
	height: 160px;
	margin-bottom: 31px; 
	background-color: #f7e296;
}

.virtuality.category-link::before {
	background-image: url(../img/decor/popular-1.svg);
	background-repeat: no-repeat;
	background-position: 31px 53px;
}

.monopods.category-link::before {
	background-image: url(../img/decor/popular-2.svg);
	background-repeat: no-repeat;
	background-position: 38px 42px;
}

.cameras.category-link::before {
	background-image: url(../img/decor/popular-3.svg);
	background-repeat: no-repeat;
	background-position: 49px 39px;
}

.fitness-tracks.category-link::before {
	background-image: url(../img/decor/popular-4.svg);
	background-repeat: no-repeat;
	background-position: 28px 51px;
}

.smart-watches.category-link::before {
	background-image: url(../img/decor/popular-5.svg);
	background-repeat: no-repeat;
	background-position: 55px 33px;
}

.quadrocopters.category-link::before {
	background-image: url(../img/decor/popular-6.svg);
	background-repeat: no-repeat;
	background-position: 13px 50px;
}

.category-link:hover::before,
.category-link:focus::before,
.category-link:active::before {
	background-color: #f0c52e;
}

.category-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.virtuality.category-link:active::before {
	background-image: url(../img/decor/popular-1-hover.svg);
}

.monopods.category-link:active::before {
	background-image: url(../img/decor/popular-2-hover.svg);
}

.cameras.category-link:active::before {
	background-image: url(../img/decor/popular-3-hover.svg);
}

.fitness-tracks.category-link:active::before {
	background-image: url(../img/decor/popular-4-hover.svg);
}

.smart-watches.category-link:active::before {
	background-image: url(../img/decor/popular-5-hover.svg);
}

.quadrocopters.category-link:active::before {
	background-image: url(../img/decor/popular-6-hover.svg);
}

/* Services */

.services {
	min-height: 288px;
	margin-bottom: 95px;
	background-color: #e5e5e5;
}

.index-columns {
	display: flex;
}

.services .left-column {
	position: relative;
	width: 280px;
	margin-right: 120px;
}

.services .right-column {
	width: 458px;
}

.services-controls {
	padding: 0;
	margin: 0;
	list-style: none;
}

.services-controls::before {
	content: "";
	position: absolute;
	top: -100px;
	right: -4px;
	width: 7px;
	height: 320px;
	background-color: #000000;
}

.services input[type="radio"] {
	display: none;
}

/* partners */

.partners {
	margin-bottom: 95px;
}

.partners-list {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.partners-item {
	margin-right: 40px;
	margin-bottom: 40px;
}

.partners-item:nth-child(4n) {
	margin-right: 0;
}

.partners-link {
	position: relative;
	display: block;
	width: 260px;
}

.partners-link img {
	transition: opacity 0.2s ease-in;
}

.partners-link .logo-color {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.partners-link:hover .logo-color,
.partners-link:focus .logo-color {
	opacity: 1;
}

/* about us */
.about {
	display: flex;
	justify-content: space-between;
}

.about-us {
	width: 461px;
}

.about-us p {
	letter-spacing: 0;
}

.transport-company-list {
	padding: 0;
	margin: 0;
	margin-bottom: 70px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 0;
	color: #000000;
	list-style: none;
}

.transport-company-list li::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
	width: 8px;
	height: 8px;
	border: 2px solid #e5e5e5;
	border-radius: 50%;
}

/* contacts */

.contacts {
	width: 560px;
}

.contacts p {
	margin: 0;
	margin-bottom: 70px;
	letter-spacing: 0;
}

/* footer */

.main-footer {
	min-height: 323px;
	background-color: #464646;
	color: #fff;
}

.main-footer .container {
	display: flex;
	justify-content: space-between;
}

.footer-left {
	width: 300px;
}

.footer-center {
	width: 440px;
}

.footer-left {
	width: 334px;
}

.footer-logo {
	color: #ffc600;
}

.footer-left p {
	letter-spacing: 0;
}

.footer-nav-list {
	padding: 0;
	margin: 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: 0.2em;
	text-transform: uppercase;	
	list-style: none;
}

.footer-nav-list a {
	color: #ffffff;
}

.footer-nav-list a:hover,
.footer-nav-list a:focus {
	color: rgba(255, 255, 255, 0.6);
}

.footer-nav-list a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-social {
	padding: 0;
	margin: 0;
	list-style: none;
}

.social-btn {
	color: #7e7e7e;
}

.social-btn:hover,
.social-btn:focus {
	color: #b5b5b5;
}

.social-btn:active {
	color: #595959;
}

.footer-user-nav a {
	color: rgba(255, 255, 255, 0.7);
}

.footer-user-nav a:hover,
.footer-user-nav a:focus {
	color: #ffffff;
}

.footer-user-nav a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-phone	{
	letter-spacing: 0;
}

.footer-copyright {
	color: #e3b20b;
}

/* modal*/

.modal-write-us {
	position: relative;
	width: 960px;
	min-height: 553px;
	padding-top: 95px;
	padding-right: 100px;
	padding-bottom: 75px;
	padding-left: 100px;	
	background-color: #ffffff;
	box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.message-form label {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0;
	color: #000000;
}

.message-form input[type="text"]:required,
.message-form input[type="email"]:required,
.message-form textarea {
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0;
	color: #464646;
	background-color: rgba(242, 242, 242, 0.5);
	border: 2px solid rgba(242, 242, 242, 0.5);
}

.message-form input[type="text"]:required:hover,
.message-form input[type="text"]:required:focus,
.message-form input[type="email"]:required:hover,
.message-form input[type="email"]:required:focus,
.message-form textarea:hover,
.message-form textarea:focus {
	color: #000000;
	background-color: #ffffff;
	border-color: #f7e296;
	outline: none;
}


.message-form input:invalid,
.message-form textarea:invalid {
	background-color: rgba(246, 218, 218, 0.5);
}

.modal-map {
	position: relative;
	width: 960px;
	min-height: 560px;
	background-color: #ffffff;
	box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

/* catalog */

.main-catalog .catalog-title {
	padding-top: 38px;
	padding-left: 60px;
	padding-right: 60px;
}

.main-catalog .page-title {
	margin: 0;
	margin-bottom: 38px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 1.2;
	letter-spacing: 0.01em;
	color: #000000;
}

.breadcrumbs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-bottom: 50px;
	list-style: none;
}

.breadcrumbs li {
	margin-right: 20px;
}

.breadcrumbs a,
.breadcrumbs-current {
	font-size: 14px;
	line-height: 36px;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

.filters-title-wrapper {
	width: 100%;
	background: linear-gradient(to right, #dcdcdc 0%, #dcdcdc 28%, #ebebeb 28%, #ebebeb 100%);
}

.filters-title-wrapper .container {
	display: flex;
	flex-direction: row;
	min-height: 70px;
}

.filters-title,
.sorting-title {
	margin: 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.2em;
	color: #000000;
	text-transform: uppercase;
}

.filters-title {
	align-self: stretch;
	width: 329px;
	padding-top: 25px;
	padding-left: 60px;
	background-color: #dcdcdc;
}

.sorting-title {
	margin-right: 54px;
}

.catalog-sorting {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 833px;
	padding-left: 72px;
	background-color: #ebebeb;
}

.sorting-options {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.sorting-options li {
	margin-right: 30px;
}

.sorting-options li:last-child {
	margin-right: 0;
}

.sorting-direction {
	margin-left: auto;
}

.option-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0;
	color: #000000;
	opacity: 0.3;
}

.option-link:hover,
.option-link:focus {
	opacity: 0.6;
}

.option-link:active,
.option-link.current {
	opacity: 1;
}

.filters-wrapper {
	width: 100%;
	background: linear-gradient(to right, #efefef 0%, #efefef 28%, #ffffff 28%, #ffffff 100%);
}

.filters-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.filter {
	width: 328px;
	padding-top: 67px;
	padding-left: 60px;
	padding-right: 60px;
	background-color: #efefef;
}

.filter fieldset {
	border: none;
}

.filter legend {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: 0.01em;
	color: #000000;
}

.range-controls {
	position: relative;
	width: 200px;
	margin-bottom: 8px;
}

.range-controls .scale {
	height: 2px;
	background-color: #dbdbdb;
}

.range-controls .scale-indicator {
	width: 112px;
	height: 2px;
	background-color: #91c92f;
}

.range-controls .toggle {
	position: absolute;
	top: -10px;
	left: 0;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.range-controls .toggle::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 8px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #b4b4b4;
}

.range-controls .toggle-max{
	left: 107px;
}

.range-price {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0;
	color: rgba(0, 0, 0, 0.2);
}

.range-price span:first-child {
	margin-right: 60px;
}

.filter ul {
	list-style: none;
	font-size: 14px;
	line-height: 40px;
	color: #000000;
}

.filter label {
	cursor: pointer;
}

.label-checkbox::before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	border: 2px solid #000000;
	border-radius: 2px;
}

.label-radio::before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	border: 2px solid #000000;
	border-radius: 50%;
}

.label-checkbox:hover::before,
.label-checkbox:focus::before,
.label-radio:hover::before,
.label-radio:focus::before {
	opacity: 0.6;
}

.filter-input:disabled {
	opacity: 0.3;
}

.catalog {
	width: 760px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
}

.catalog-item {
	width: 360px;
	margin-bottom: 50px;
	margin-right: 40px;
}

.catalog-item:nth-child(2n) {
	margin-right: 0;
}

.product-card-descr {
	font-family: "Gilroy", "Arial", sans-serif;
	line-height: 1.2;
	letter-spacing: 0.01em;
}

.product-card-title {
	font-size: 18px;
	font-weight: 800;
	color: #000000;
}

.product-card-title a {
	color: #000000;
}

.product-card-price {
	font-size: 16px;
	font-weight: 300;
}

.product-card-pic {
	position: relative;
	width: 360px;
	height: 380px;
	cursor: pointer;
}

.product-card-actions {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 360px;
	height: 380px;
	background-color: rgba(238, 238, 238, 0.5);
	cursor: pointer;
	opacity: 0;
}

.product-card-pic:hover .product-card-actions {
	opacity: 1;
}

.product-card-actions .compare {
	font-size: 13px;
	color: rgba(0, 0, 0, 0.5);
}

.product-card-actions .compare:hover,
.product-card-actions .compare:focus {
	color: rgba(0, 0, 0, 1);
}

.product-card-actions .compare:active {
	color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
	padding: 0;
	margin: 0;
	margin-bottom: 73px;
	list-style: none;
	background-color: #ebebeb;
}

.pagination-item a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.2em;
	color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
}

.pagination-item a:hover,
.pagination-item a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
	color: #000000;
}

.pagination-item a.current {
	color: #000000;
}

.pagination-item .pagination-btn {
	color: #000000;
}

.pagination-item .pagination-btn:hover,
.pagination-item .pagination-btn:focus {
	background-color: #d9d9d9;
}

.pagination-item .pagination-btn:active {
	color: rgba(0, 0, 0, 0.3);
}

